services:
  app:
    image: ghcr.io/${GITHUB_REPOSITORY}:latest
    container_name: anaslabs
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
